<a href="https://colab.research.google.com/github/cropsoy/HocITwiki/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Data Science Tools and Ecosystem
>> H2
>>>Below are a few examples of evaluating arithmetic expressions in Python.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**



*   Python
*   R
*   Java
*   C++

Some of the popular languages that Data Scientists use are:
1.   Python
2.   R
3.   Java

|Data Science Tools|
|-|  
|Jupyter Notebook|
|RStudio|
|Google Colab|

Some of the commonly used libraries used by Data Scientists include:


*   NumPy
*   Keras
*   Pandas

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

>>Author: Nguyễn Minh Tâm